:root {
    --primary-default: #072AC8;
    --accent: #43D2FF;
    --primary-over: #A2D6F9;
    --primary-taped: #292E47;
    --neutral-dark: #292E47;
    --neutral-medium: #6B708D;
    --neutral-light: #F2F4FC;
    --neutral-light-blue: #ECF7FF;
    --secondary-1: #FFC600;

}

main{
    width: 85%;
    margin-left: auto;
    margin-right: auto;
}
.img-main{
    width: 90%;
    height: auto;
}
.img-over-main{
    width: 30vh;
}

.testimonial{
    background-color: var(--neutral-dark);
    background-image: url('../img/testimonial-section/orbit.png');
    background-size: cover;
}
.cta{
    background-color: var(--secondary-1);
    height: 50vh;
    max-height: 50vh;
    margin-bottom: 12vh;
}

.clients{
    margin-top:12vh;
    margin-bottom: 12vh;
}

.projects{
    margin-bottom: 12vh;
}

.services{
    margin-top:12vh;
    margin-bottom: 12vh;
}

.emoji{
    max-width: 18vw;
    height:auto;
}
.circle-image{
    width:8vh;
    height:8vh;
    border-radius:50%;
    background-image:url("../img/testimonial-section/profile.png");
    background-size: cover;
    background-position: 50% 25%;
}