:root {
    --primary-default: #072AC8;
    --accent: #43D2FF;
    --primary-over: #A2D6F9;
    --primary-taped: #292E47;
    --neutral-dark: #292E47;
    --neutral-medium: #6B708D;
    --neutral-light: #F2F4FC;
    --neutral-light-blue: #ECF7FF;
    --secondary-1: #FFC600;

}

body{
    background-color: #E5E5E5;
    margin: 0;
}